/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 7, 2014, 8:40:59 AM
    Author     : macintoshhd
*/
//.aimgslider{
//    position:absolute;
//clip:rect(0px,175px,200px,0px);
//}
@font-face {
	font-family: ar_bonnie;
	src: url('fonts/ARBONNIE.ttf');	
}

@font-face {
	font-family: segoe_ui;
	src: url('fonts/segoeui.ttf');	
}

@font-face {
	font-family: gisha;
	src: url('fonts/gisha.ttf');	
}

#footerfixed{
   position:relative;
   left:0px;
   padding: 4px;
   bottom:0px;
   height:45px;
   width:100%;
   //font-size: 8;
   background:#e4e4e4;
}

.footer {
	display:block;
	width:100%;
	background: #1d1d1d url(/ipbiotics/images/bg_footer.jpg) center top no-repeat;
	padding:20px 0;
	font-family:segoe_ui;
	color:white;
	font-size:12px;
}

.coll_item
{
    width: 175px;
    height: 290px;
    overflow: hidden;
    margin: 4px;
    position: relative;
}


.bag_slider{
    width: 175px;
    height: 290px;
}

.recent_activity{
    width: 115px;
    height: 190px;
}

.coll_description_holder {
	position:absolute;
	display:block;
	background:url(/ipbiotics/images/desc_holder.png) no-repeat;
	bottom:-100px;
	width:100%;
	color:#99cc33;
	height:60px;
	font-family:sans-serif;
	padding:50px 0px 0px 0px;
	opacity:0;
	
	-webkit-transition-property:opacity, bottom;   
 	-webkit-transition-duration: 0.25s, 0.35s;   
 	-webkit-transition-timing-function: ease-in-out, ease-in-out;
}

.creature-name-desc {
	color:#99cc33;
	font-size:14px;
	width:100%;
	display:block;
	line-height:24px;
	text-align:center;
}

.uploader-name-desc {
	color:#fff;
	font-size:14px;
	width:100%;
	display:block;
	text-align:center;
	font-style:italic;
}

.coll_item:hover .coll_description_holder {
	opacity:1.0;
	bottom:0px;
}

.discover-nav-title {
	font-family:ar_bonnie;
	color:#99cc33;
	font-size:30px;
	padding-left:10px;
}

.logo_jumbo_second {
	width:341px;
	height:71px;
	background:url(/ipbiotics/images/jumbo_header_second.png) no-repeat center;
	display:block;
	margin:0 auto auto;
}

.logo_jumbo_header {
	width:304px;
	height:84px;
	background:url(/ipbioticsnew/images/logo_jumbotron.png) no-repeat center;
	display:block;
}

.logo_jumbo_header_sub {
	font-family:segoe_ui;	
	font-size:16px;
}

.logo_jumbo_third {
	width:327px;
	height:78px;
	background:url(/ipbioticsnew/images/jumbo_header_third.png) no-repeat center;
	display:block;
	margin-top:30px;
	margin-bottom:10px;
}